@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Signika Negative', sans-serif;
}

.scroll-content {
  padding-bottom: 0 !important;
  }

ion-content {
  --background: none !important;
  --ion-background-color: none !important;
}

body {
  --ion-background-color: none !important;
  }