.scroll-content {
  padding-bottom: 0 !important;
  }

ion-content {
  --background: none !important;
  --ion-background-color: none !important;
}

body {
  --ion-background-color: none !important;
  }