<ion-content>


<div id="container">

<form [formGroup]="formulario" (submit)="enviarForm()" novalidate>
  <ion-item>
    <ion-label>CEP</ion-label>
    <ion-input type="text" formControlName="cep" pattern="[0-9]*" minlength="8" maxlength="8" clearInput value="Limpar"></ion-input>
  </ion-item>
  <ion-button type="submit" [disabled]="!formulario.valid">Buscar</ion-button>
</form>

<ion-card *ngIf="dados">
  <ion-card-header>
    <ion-card-title> <strong> {{dados.uf}} </strong> </ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-item>
     {{dados.localidade}} - {{dados.uf}} <br>
     Bairro: {{dados.bairro}} <br>
     Rua: {{dados.logradouro}} <br>
     DDD: {{dados.ddd}}
    </ion-item>
  </ion-item>
</ion-card>

</div>


</ion-content>
